<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="display-2 text-center p-3">Online classroom</h1>
      <h2 class="my-2">About page</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis voluptatem doloremque in quaerat culpa quo, porro dolor sed quidem esse expedita, amet fuga enim odit, nam voluptate corporis excepturi similique saepe sapiente quam neque a. Rerum obcaecati, repudiandae perspiciatis perferendis sapiente modi, incidunt voluptas tenetur, ullam numquam dolores et porro. Praesentium molestias voluptatibus quis nihil quaerat doloremque asperiores omnis deleniti exercitationem saepe reiciendis, dolor numquam incidunt cupiditate! Cum quidem quae minus consectetur praesentium maiores voluptas est ratione sapiente eos nihil veritatis, ad reiciendis. Tenetur, voluptas voluptates beatae deserunt placeat molestiae exercitationem maiores ab eveniet magnam ex aspernatur sit iure!
      </p>
    </div>
  </div>

